# 忽略根目录下的所有文件和目录
/.codeartsdoer/
/.gitattributes
/.github/
/.vscode/
/CMake/
/CMakeLists.txt
/CMakePresets-vs.json
/Doxygen.config
/LICENSE
/README.md
/build/
/build-ci/
/build-local/
/build-merge/
/compiler-lite-source.zip
/docs/
/output.ir
/test
/test.s
/tests/
/thirdparty/
/tools/
/常用命令.md
/归档.zip
/测试结果说明.md

# 编译产物
*.o
*.a
*.so
*.out
minic

# 打包文件
*.tar.gz
*.zip
*.tgz

# 系统文件
.DS_Store
.cache/
